@media print {
  html,
  body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
    display: block;
  }
  ul,
  ol,
  li {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
  table,
  tr,
  td {
    page-break-before: avoid;
  }
  .single-post.sidebar-right .main-content,
  .single-post.sidebar-left .main-content {
    width: 100%;
  }
  .single-post .tie-row {
    border: 0;
  }
  .single-post .main-content {
    border: 0;
    max-width: 75% !important;
    margin: 0 auto !important;
    float: none !important;
  }
  .single-post #theme-header,
  .single-post .sidebar,
  .single-post #footer,
  .single-post .slider-area,
  .single-post .mobile-header-components,
  .single-post .share-buttons,
  .single-post #post-newsletter,
  .single-post .prev-next-post-nav,
  .single-post #related-posts,
  .single-post #respond,
  .single-post .tie-video .featured-area,
  .single-post figure a:after,
  .single-post .post-tags,
  .single-post #check-also-box,
  .single-post #go-to-content,
  .single-post #breadcrumb,
  .single-post .toggle-post-content,
  .single-post #add-comment-block,
  .single-post .about-author,
  .single-post #go-to-top,
  .single-post #reading-position-indicator {
    display: none !important;
  }
  .single-post .thumb-overlay {
    padding: 0;
  }
  .single-post .tie-parallax [id^="jarallax-container-"] > div {
    position: absolute !important;
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
  }
  .post-has-toggle #the-post .entry {
    max-height: unset !important;
  }
  .post-has-toggle #the-post .entry:before {
    display: none !important;
  }
  .post-has-toggle #the-post .entry img[class*="wp-image-"] {
    opacity: 1 !important;
  }
  .single-big-img .entry-header {
    background-color: #fff;
    color: #000;
    padding: 20px;
    bottom: 0;
  }
  .single-big-img .entry-header .entry-sub-title,
  .single-big-img .entry-header .entry-title,
  .single-big-img .entry-header .post-meta,
  .single-big-img .entry-header .post-meta a:not(:hover) {
    color: #000;
    text-shadow: unset;
  }
}
@media (min-width: 1200px) {
  .thumb-title{
      margin-left: 15%;
    }
}
    @media (max-width: 1199px) and (min-width: 992px) {

    .dark-skin .video-playlist-wrapper,
    .dark-skin .tie-slider-nav span {
      font-size: 60px !important;
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    .button_slider {
      font-size: 12px;
      background: #45940b;
      width: auto;
       padding: 10px;
      position: relative;
      top: 37px;
    }
  .thumb-title{
      margin-left: 20%;
    }
 
    }

   
    @media (min-width: 768px) and (max-width: 991px) {
    .thumb-title{
      margin-left: 30%;
    }
  .search-box{
      margin-top: -30px;

    }
  dark-skin .video-playlist-wrapper,
    .dark-skin .tie-slider-nav span {
      font-size: 60px !important;
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    .button_slider {
      font-size: 10px;
      background: #45940b;
      width: auto;
       padding: 10px;
      position: relative;

    }
    }
    @media (max-width: 767px) {
    .thumb-title{
      margin-left: 30%;

    }
    .button_slider{
      margin-bottom: 35%;
    }
    .search-box{
      margin-top: -30px;

    }
  dark-skin .video-playlist-wrapper,
    .dark-skin .tie-slider-nav span {
      font-size: 60px !important;
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    .button_slider {
      font-size: 10px;
      background: #45940b;
      width: auto;
       padding: 10px;
      position: relative;

    }
    }
    @media (max-width: 650px) {
    .thumb-title{
      margin-left: 40%;

    }
    
    .search-box{
      margin-bottom: 30px;
    }
  dark-skin .video-playlist-wrapper,
    .dark-skin .tie-slider-nav span {
      font-size: 60px !important;
      margin-left: 5px !important;
      margin-right: 50px !important;
    }

    .button_slider {
      font-size: 10px;
      background: #45940b;
      width: auto;
       padding: 10px;
      position: relative;
margin-top: 30%;
    }
    }

    @media (max-width: 480px) {
    .thumb-title{
      margin-left: 70%;

    }
   
    .search-box{
      margin-bottom: 30px;
margin-left: 50px;

    }
  dark-skin .video-playlist-wrapper,
    .dark-skin .tie-slider-nav span {
      font-size: 60px !important;
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    .button_slider {
      font-size: 10px;
      background: #45940b;
      width: auto;
       padding: 10px;
      position: relative;
margin-top: -10%;
    }
    }